@mixin shadow($h-shadow, $v-shadow, $blur, $spread, $color) {
  -moz-box-shadow:$h-shadow $v-shadow $blur $spread $color;
  -webkit-box-shadow:$h-shadow $v-shadow $blur $spread $color;
  box-shadow:$h-shadow $v-shadow $blur $spread $color;
}

section#intro {
  width:100%;
  height:110px;
  background:#faf7e9;

  border-bottom:10px solid #e7e4d6;
  @include shadow(0px, 0px, 15px, 0px, #000);

  .container {
    width:680px;
    position:relative;

    .logo {
      width:320px;
      height:80px;

      # margin:0px auto;

      a {
        text-decoration:none;
      }

      p {
        font-style:italic;
        margin-left:45px;
        margin-top:-2px;
        color:#625d50;

        a {
          color:#625d50;
          text-decoration:underline;
        }
      }
    }
  }
}
