@mixin sprite($x, $y, $w, $h) {
  width:$w;
  height:$h;
  background-position:0-$x 0-$y;
}

.fs-container {
  margin:0px auto;

  ul {
    list-style:none;
    padding:0px;
    margin:0px;
    color:#000;

    &.fs-tree {
      position:relative;
    }

    li {
      padding-left:22px;
      margin-bottom:3px !important;
      font-size:13px !important;
    }

    ul {
      padding-top:4px;
    }

    li.dir {
      background:url(../bundles/app/img/dir.png) no-repeat left 0px;
    }
    li.file {
      background:url(../bundles/app/img/file.png) no-repeat left 0px;
    }
  }
}

#overview {
  width:990px;
  padding-top:60px;
  padding-bottom:60px;
  margin:0px auto;

  .fs-tree {
    margin-left:350px;
  }

  .overview {
    display:block;
    position:absolute;

    text-indent:-9999px;
    overflow:hidden;

    opacity:0.2;
    background:url(../bundles/app/img/overview.png) no-repeat;

    &:hover { opacity:0.6; }

    &.config {
      @include sprite(165px, 18px, 156px, 130px); left:-158px; top:-5px;
    }
    &.kernel {
      @include sprite(440px, 10px, 280px, 54px); left:115px; top:-10px;
    }
    &.bundles {
      @include sprite(480px, 84px, 264px, 120px); left:155px; top:68px;
    }
    &.app-bundle {
      @include sprite(65px, 715px, 364px, 170px); left:-260px; top:145px;
      z-index:3;
    }
    &.base-controller {
      @include sprite(470px, 205px, 295px, 55px); left:185px; top:192px;
    }
    &.resources {
      @include sprite(108px, 274px, 266px, 244px); left:-220px; top:255px;
      z-index:2; }
    &.pipeline {
      @include sprite(456px, 302px, 328px, 95px); left:125px; top:290px;
    }
    &.app-configs {
      @include sprite(502px, 437px, 380px, 65px); left:175px; top:418px;
    }
    &.views {
      @include sprite(530px, 534px, 310px, 116px); left:205px; top:515px;
    }
    &.structure {
      @include sprite(140px, 590px, 184px, 74px); left:-185px; top:572px;
    }
  }
}
