/*
 *= require libs/boilerplate
 *= require libs/bootstrap
 *= require libs/highlight/solarized_light
 *= require fonts
 */

@mixin sprite($x, $y, $w, $h) {
  width:$w;
  height:$h;
  background-position:0-$x 0-$y;
}

body {
  background:#faf7e9;
  font-size: 12px;
  line-height: 20px;
  font-family: Verdana,Arial,Helvetica,"Liberation Sans",FreeSans,sans-serif;
  color: #625D50;
  min-width: 960px;

  > header, > div[role=main], > footer {
    width:960px;
    margin:0px auto;
  }

  > header {
    margin-top:45px;

    a {
      &:hover {
        text-decoration:none !important;
      }

      .baseline {
        position:absolute;
        font-size:11px;
        text-align:right;
        margin: 0;
        margin-left:44px;

        font-family: Verdana,Arial,Helvetica,"Liberation Sans",FreeSans,sans-serif;
        color: #625D50;
      }
    }
  }

  #intro {
    background:#fff;
    width:100%;
    margin-top:50px;
    padding:20px 0px;

    .intro-container {
      width:960px;
      margin:0px auto;

      ul {
        &.fs-tree {
          margin-left:350px;
          position:relative;
        }

        .overview {
          display:block;
          position:absolute;

          text-indent:-9999px;
          overflow:hidden;

          opacity:0.2;
          background:url(/bundles/app/img/overview.png) no-repeat;

          &:hover { opacity:0.6; }

          &.config {
            @include sprite(165px, 18px, 156px, 130px); left:-158px; top:-5px;
          }
          &.kernel {
            @include sprite(440px, 10px, 280px, 54px); left:115px; top:-10px;
          }
          &.bundles {
            @include sprite(480px, 84px, 245px, 120px); left:155px; top:68px;
          }
          &.app-bundle {
            @include sprite(65px, 715px, 364px, 170px); left:-260px; top:145px;
            z-index:3;
          }
          &.resources {
            @include sprite(108px, 274px, 266px, 244px); left:-220px; top:255px;
            z-index:2; }
          &.pipeline {
            @include sprite(456px, 302px, 328px, 95px); left:125px; top:290px;
          }
          &.app-configs {
            @include sprite(502px, 437px, 380px, 65px); left:175px; top:418px;
          }
          &.views {
            @include sprite(530px, 534px, 310px, 116px); left:205px; top:515px;
          }
          &.structure {
            @include sprite(140px, 590px, 184px, 74px); left:-185px; top:572px;
          }
        }

        list-style:none;
        padding:0px;
        margin:0px;
        color:#000;

        li {
          padding-left:22px;
          margin-bottom:3px;
        }

        ul {
          padding-top:4px;
        }

        li.dir {
          background:url(/bundles/app/img/dir.png) no-repeat left 0px;
        }
        li.file {
          background:url(/bundles/app/img/file.png) no-repeat left 0px;
        }
      }
    }
  }

  > div[role=main] {
    margin-top:50px;

    > section {
      background:url(/bundles/app/img/bg-page-static.jpg) no-repeat top right;

      > header {
        margin-top:50px;
        border-top:5px solid #CF5B37;
        min-height:80px;
        margin-bottom:-50px;

        h2 {
          position: relative;
          top: -30px;
          display: inline-block;
          margin: 0 0 5px 0;
          padding-right: 10px;
          background: #FAF7E9;
          font-size: 48px;
          line-height: 48px;
          font-family: 'MetaMediumRegular',sans-serif;
        }

        h3 {
          margin-top:-30px;
          font-size:24px;
          font-family:'MetaMediumRegular',sans-serif;
          font-size:24px;
          line-height:24px;
          color:#3B372E;
        }
      }

      h3, h4, h5 {
        color: #3B372E;
        font-family: 'MetaMediumRegular',sans-serif;
        font-weight:normal;
        text-rendering: optimizeLegibility;
        margin-bottom:20px;
      }

      h3 {
        font-size: 24px;
        line-height: 28px;
        margin-top:35px;
      }

      section.feature {
        p > code, li > code {
          color:#000;
          padding:1px 2px;
        }

        li {
          margin-bottom: 10px;
        }

        h3 {
          display: block;
          background-color: #3B372E;
          color: #FBF9EF;
          font-size: 18px;
          line-height: 18px;
          padding: 10px 30px 10px 10px;
          font-family: Verdana, Arial, Helvetica, sans-serif;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          font-weight: normal;
        }
      }
    }
  }
}
