{% extends "App::layout.html.twig" %}

{% block content %}
    <section id="intro">
        &nbsp;
        <div class="logo">
            <a href="/" title="KnpRadBundle" id="radbundle-logo">
                <img src="{{ asset('bundles/app/img/logo.png') }}" alt="KnpRadBundle" width="317" height="58">
            </a>

            <p>
                <a href="http://symfony.com">Symfony2</a> bundle that changes everything...
            </p>
        </div>
    </section>

    <section id="overview">
        {% include "App:Overview:overview.html.twig" %}
    </section>

    <section id="features">
        {% include "App:Overview/features:configs_in_one_place.html.twig" %}
        {% include "App:Overview/features:kernel_config.html.twig" %}
        {% include "App:Overview/features:bundles_configs.html.twig" %}
        {% include "App:Overview/features:application_bundle.html.twig" %}
        {% include "App:Overview/features:application_configuration.html.twig" %}
        {% include "App:Overview/features:application_views.html.twig" %}
        {% include "App:Overview/features:assetic_pipeline.html.twig" %}
        {% include "App:Overview/features:project_structure.html.twig" %}
    </section>
{% endblock content %}
