{% extends "App::layout.html.twig" %}

{% block title %}Overview{% endblock %}

{% block free %}
    {% include "App:Overview:_filesystemOverview.html.twig" %}
{% endblock free %}

{% block main %}
    <section>
        <header>
            <h2>Features</h2>
            <h3>of the Symfony2 RAD edition</h3>
        </header>

        {% include "App:Overview/sections:configs_in_one_place.html.twig" %}
        {% include "App:Overview/sections:kernel_config.html.twig" %}
        {% include "App:Overview/sections:bundles_configs.html.twig" %}
        {% include "App:Overview/sections:application_bundle.html.twig" %}
        {% include "App:Overview/sections:application_configuration.html.twig" %}
        {% include "App:Overview/sections:application_views.html.twig" %}
        {% include "App:Overview/sections:assetic_pipeline.html.twig" %}
        {% include "App:Overview/sections:project_structure.html.twig" %}

    </section>
{% endblock main %}
