{% extends "App::layout.html.twig" %}

{% block content %}
    <section id="intro">
        <div class="container">
            &nbsp;
            <div class="logo">
                <a href="#overview" title="KnpRadBundle" id="radbundle-logo">
                    <img src="{{ asset('bundles/app/img/logo.png') }}" alt="KnpRadBundle" width="317" height="58">
                </a>

                <p>
                    Rapid Application Development for <a href="http://symfony.com">Symfony2</a>
                </p>
            </div>
        </div>
    </section>

    <section id="overview">
        {% include "App:Overview:overview.html.twig" %}
    </section>

    <section id="features">
        <section class="feature">
            <h3 id="intro">Introduction</h3>
            <p>
                KnpRadBundle is the central and single custom part of the Symfony2 RAD edition.
                It adds <a href="#kernel">custom autoloadable kernel</a> and
                <a href="#app-bundle">application bundle</a> knowledge to the Symfony2, including
                other neat features about which you could read below.
            </p>
            <p>
                KnpRadBundle forms RAD edition distribution of Symfony2 and has project generator
                specially for this need. RAD edition has fairly different project structure and
                application management flow. But you can simply use KnpRadBundle as any other
                bundle inside any Symfony2 project, enabling only features that you like.
            </p>
            <p>
                On the first read, you might think that we're breaking conventions here or trying
                to produce new main distribution of Symfony2. It's really not the case. We're
                just trying to show how easy it is to configure Symfony2 for your needs and
                create custom distribution with only one bundle. We're solving our own development
                flow problems here and we're sure, that many developers out there will share our
                opinions on development process.
            </p>
        </section>

        <section class="feature">
            <h3 id="installation">Installation</h3>

            <ol>
                <li>Create project folder and move into it</li>
                <li>
                    Create <code>composer.json</code> file:<br/><br/>
                    <pre><code>{
    "require": {
        "knp/rad-bundle": "&gt;=0.1"
    }
}</code></pre>
                </li>
                <li>Run <code>wget http://getcomposer.org/composer.phar &amp;&amp; php composer.phar install</code></li>
                <li>Generate project with generator: <code>php vendor/bin/generate-rad-project NAME_OF_PROJECT</code></li>
                <li>Generate configs with <code>php bin/configs</code></li>
            </ol>

            <p>
                After you'll do this steps, you'll have empty project, generated for you with
                really useful defaults, like default view, based on
                <a href="http://html5boilerplate.com/">HTML5 Boilerplate 3.0</a> and Twitter Bootstrap 2.0
                forms layout. Then you'll just need to create action:
            </p>

            <pre><code>./sf rad:generate:controller Default:index</code></pre>

            <p>
                And you'll have your first RAD action up and ready :-)
            </p>
        </section>

        {% include "App:Overview/features:configs_in_one_place.html.twig" %}
        {% include "App:Overview/features:kernel_config.html.twig" %}
        {% include "App:Overview/features:bundles_configs.html.twig" %}
        {% include "App:Overview/features:application_bundle.html.twig" %}
        {% include "App:Overview/features:base_controller.html.twig" %}
        {% include "App:Overview/features:application_configuration.html.twig" %}
        {% include "App:Overview/features:application_views.html.twig" %}
        {% include "App:Overview/features:assetic_pipeline.html.twig" %}
        {% include "App:Overview/features:code_generators.html.twig" %}
        {% include "App:Overview/features:project_structure.html.twig" %}
    </section>
{% endblock content %}
