<div class="fs-container">
    <ul class="fs-tree">
        <li class="dir">
            config
            <a class="overview config" href="#config">
                All configs in one place
            </a>
            <ul>
                <li class="file yml">
                    kernel.yml
                    <a class="overview kernel" href="#kernel">
                        Kernel config file instead of class
                    </a>
                </li>
                <li class="dir">
                    bundles
                    <a class="overview bundles" href="#bundles">
                        Bundles configuration in separate files
                    </a>
                    <ul>
                        <li class="file yml">framework.yml</li>
                        <li class="file yml">fos_user.yml</li>
                    </ul>
                </li>
                <li class="dir">routing</li>
            </ul>
        </li>
        <li class="dir">
            src
            <ul>
                <li class="dir">
                    KnpRad
                    <a class="overview app-bundle" href="#app-bundle">
                        Single class-free application bundle for your application code
                    </a>
                    <a class="overview resources" href="#app-bundle">
                        No "Resources" folder. All resources live in application root
                    </a>
                    <ul>
                        <li class="dir">Controller
                            <ul>
                                <li class="file">MainController</li>
                            </ul>
                        </li>
                        <li class="dir">Entity</li>
                        <li class="dir">Form</li>
                        <li class="dir">
                            translations
                            <ul>
                                <li class="file yml">messages.fr.yml</li>
                                <li class="file xml">messages.fr.xml</li>
                            </ul>
                        </li>
                        <li class="dir">
                            public
                            <a class="overview pipeline" href="#pipeline">
                                Assetic Pipeline to manage your asset dependencies
                            </a>
                            <ul>
                                <li class="dir">js</li>
                                <li class="dir">css</li>
                                <li class="dir">img</li>
                            </ul>
                        </li>
                        <li class="dir">
                            config
                            <a class="overview app-configs" href="#app-configs">
                                Autoloadable routing and service container configurations
                            </a>
                            <ul>
                                <li class="file yml">routing.yml</li>
                                <li class="file yml">services.yml</li>
                            </ul>
                        </li>
                        <li class="dir">
                            views
                            <a class="overview views" href="#views">
                                Views mapped to application controller actions
                            </a>
                            <ul>
                                <li class="dir">
                                    Main
                                    <ul>
                                        <li class="file">index.html.yml</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="dir">web</li>
        <li class="dir">vendor</li>
        <li class="dir">bin</li>
        <li class="dir">
            cache
            <a class="overview structure" href="#structure">
                Better project structure
            </a>
        </li>
        <li class="dir">logs</li>
        <li class="file">composer.json</li>
    </ul>
</div>
