<section class="feature">
    <h3 id="views">Views mapped to controller actions</h3>

    <p>
        As you might already see, there's a lot things different about your application in RAD
        edition.
    </p>
</section>
