<section class="feature">
    <h3 id="bundles">Bundles configuration files</h3>
    <p>The <em>bundles</em> config directory primary consern is to configure
    all vendor bundles used by the project. You can check the configurations
    which comes with <em>RAD</em> distribution, most of configs contains very
    detailed comments which can guide you through your most bizzare cases of
    configuration required</p>
    <p>Secondary, there is one significant configuration file - <strong>app.yml</strong>.
    This is your project based(<a href="#app-bundle">application bundle</a>) configuration.</p>
</section>
