<section class="feature">
    <h3 id="code-generation">Code generators</h3>

    <p>
        RAD edition comes with some handy code generators out of the box.
    </p>

    <ul>
        <li><code>rad:generate:controller</code> generates controller <strong>or/and</strong>
        action (with view and route) inside your application bundle. To generate
        <code>Admin\Users</code> class with <code>index</code> action and apropriate view,
        run <code>rag:generate:controller Admin/Users:index</code>.</li>

        <li><code>rad:generate:twig-extension</code> generates twig extension inside your application bundle. To generate
        <code>AppExtension</code> run <code>rag:generate:twig-extension App</code>.</li>
    </ul>
</section>
