<section class="feature">
    <h3 id="structure">Better project structure</h3>

    <p>
        As there's no <code>app</code> folder anymore, no need to hide <code>cache</code>
        or <code>logs</code> folders inside subfolders. As a matter of fact.
    </p>

    <p>
        What it means for you? It means, that those folders now are much easier to create or
        deploy or navigate or event ignore with beloved VCS - they are in the project root now.
    </p>
</section>
