<section class="feature">
    <h3 id="bundles">Bundles configuration files</h3>

    <div class="fs-container float-left">
        <ul class="fs-tree">
            <li class="dir">
                config/bundles
                <ul>
                    <li class="file yml">app.yml</li>
                    <li class="file yml">assetic.yml</li>
                    <li class="file yml">doctrine.yml</li>
                    <li class="file yml">framework.yml</li>
                    <li class="file yml">knp_rad.yml</li>
                    <li class="file yml">monolog.yml</li>
                    <li class="file yml">security.yml</li>
                    <li class="file yml">swiftmailer.yml</li>
                    <li class="file yml">twig.yml</li>
                    <li class="file yml">web_profiler.yml</li>
                </ul>
            </li>
        </ul>
    </div>

    <p>
        The <code>config/bundles</code> directory primary consern is to configure
        all bundles used by the project. You can check the configurations
        which comes with <em>RAD</em> distribution, most of configs contains very
        detailed comments which can guide you through your most bizzare cases.
    </p>

    <p>
        Secondary, there is one significant configuration file - <code>app.yml</code>.
        This is your project based (<a href="#app-bundle">application bundle</a>) configuration.
    </p>

    <p>
        <a href="#bundles">Bundles</a> configuration files consists of environment sections, same
        as <a href="#kernel">kernel configuration</a>.
    </p>
    
    <p>
        In addition to that, <strong>KnpRadBundle</strong> will generate configuration files
        with sensible defaults for you after calling <code>bin/vendors</code> or
        <code>bin/configs</code> commands. for most used bundles out of the box.
    </p>

    <div style="clear:both"></div>
</section>
