<section class="feature">
    <h3 id="config">All configs in one place</h3>

    <div class="fs-container float-left">
        <ul class="fs-tree">
            <li class="dir">
                config
                <ul>
                    <li class="file yml">kernel.yml</li>
                    <li class="dir">
                        bundles
                        <ul>
                            <li class="file yml">framework.yml</li>
                            <li class="file yml">monolog.yml</li>
                            <li class="file yml">doctrine.yml</li>
                            <li class="file yml">fos_user.yml</li>
                            <li class="file yml">...</li>
                        </ul>
                    </li>
                    <li class="dir">
                        routing
                        <ul>
                            <li class="file yml">all.yml</li>
                            <li class="file yml">dev.yml</li>
                            <li class="file yml">test.yml</li>
                            <li class="file yml">prod.yml</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <p>
        In <strong>RAD</strong> edition, there's no kernel class. All kernel or project
        configuraion lives inside <code>config/kernel.yml</code> config file (read about it
        <a href="#kernel">here</a>). Generally, it holds environment-dependant parameters,
        project bundles list and project name.
    </p>

    <p>
        In addition to <a href="#kernel">kernel configuration</a>, every bundle have its
        <a href="#bundles">own configuration file</a> too (<code>framework.yml</code> for <code>FrameworkBundle</code> or even <code>fos_user.yml</code> for <code>FOSUserBundle</code>)
        inside <code>config/bundles</code> folder.
    </p>

    <p>
        Last child of <code>config</code> folder is <code>routing</code> subdirectory.
        It holds routing configuration for bundles and only for bundles. For application-wide
        routing use project <code>routing.yml</code>, which will be <a href="app-configs">autoloaded
        for you</a>.
    </p>

    <div class="clear"></div>

    <p>
        <a href="#kernel">Kernel</a> and <a href="#bundles">bundles</a> configuration files 
        consists of environment sections.
    </p>

    <pre style="width:20%" class="float-right"><code>all:  ~
dev:  ~
test: ~
prod: ~</code></pre>

    <p>
        The most
        significant is <code>all</code> environment section - kernel loads it first of all
        and its like a default to all environments.
    </p>
    
    <p>
        Other sections should be adjusted for your environmental differences: <code>dev</code>,
        <code>test</code>, <code>prod</code>.
    </p>
    
    <p>
        This concept is proven, eye friendly and does not force you to browse more files
        in order to lookup the specific configuration values used.
    </p>

    <p>
        In addition to that, <strong>KnpRadBundle</strong> will automatically generate configuration files
        with sensible defaults for most common bundles after calling <code>bin/vendors</code> or
        <code>bin/configs</code> commands.
    </p>
</section>
